* {
    font-family: 'Lato', sans-serif;
}


/*Page*/

div {
    width: 1100px;
    margin: 0 auto;
}


/*Header*/

header {
    background-image: url("img/header_bg.png");
    background-repeat: repeat;
}


/*Banner*/

main {
    background-image: url("img/banner_bg.png");
}

.banner {
    display: inline-grid;
    height: 425px;
    grid-gap: 25px;
}

.imgBanner {
    margin: 20px 0px 80px 20px;
}

.textBanner {
    grid-row: 1;
    grid-column: 2/2;
    color: white;
    width: 250px;
}

.textBanner h1 {
    font-size: 26px;
    line-height: 30px;
}

.textBannerP {
    font-size: 14px;
    line-height: 20px;
}


/*Cards*/


/*Footer*/

footer {
    background-image: url("img/footer_bg.png");
    background-repeat: repeat;
}

footer p {
    text-align: center;
    padding: 20px;
}