* {
    font-family: 'Lato', sans-serif;
}


/*Page*/

body {
    display: grid;
    grid-template-columns: auto 1100px auto;
}

.grid-container {
    display: grid;
    grid-template-columns: 1100px;
    grid-column: 2;
}


/*Header*/

header {
    background-image: url("img/header_bg.png");
    background-repeat: repeat;
    display: grid;
    grid-template-columns: auto auto auto;
}

header nav ul {
    margin-top: 30px;
    text-align: center;
}

header nav ul li {
    padding-left: 40px;
    display: inline-block;
}

header nav ul li a {
    text-decoration: none;
    color: #314759;
}


/*Banner*/

main {
    background-image: url("img/banner_bg.png");
}

.banner {
    display: inline-grid;
    height: 425px;
    grid-gap: 25px;
}

.imgBanner {
    margin: 30px 0px 80px 60px;
}

.textBanner {
    grid-row: 1;
    grid-column: 2/2;
    color: white;
    width: 250px;
}

.textBanner h1 {
    font-size: 26px;
    line-height: 30px;
}

.textBannerP {
    font-size: 14px;
    line-height: 20px;
}


/*Cards*/

.grid-container-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px 25px;
}

.card {
    grid-row: 1;
    justify-self: center;
}

.card h2 {
    font-size: 20px;
    line-height: 22px;
}

.card p {
    font-size: 14px;
    line-height: 20px;
}


/*Footer*/

footer {
    background-image: url("img/footer_bg.png");
    background-repeat: repeat;
}

footer p {
    text-align: center;
    padding: 20px;
    color: white;
}